# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
virtual_env/
venv/
env/

# Logs
logs/
*.log

# Reports
report/
*.csv

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db